<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="content-type" content="text/html;charset=gbk" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="<%=short_name%>" />
    <link rel="stylesheet" type="text/css" href="/css/common.1.css" />
    <link rel="stylesheet" type="text/css" href="/css/aio.c.css" />
    <link rel="stylesheet" type="text/css" href="/css/top-nav-bar.d.css" />
    <link rel="stylesheet" type="text/css" href="/css/myask.css" />
</head>

<body class="layout-center has-menu">
    <%-include('../head', {})%>
    <%-include('../navigate', {})%>

    <div id="body" class="container">
        <div class="layout-wrap">
            <section class="line qb-section">
                <article class="grid qb-content" id="qb-content">
                    <div class="wgt-ask accuse-response line mod-shadow " id="wgt-ask">
                        <h1 accuse="qTitle">
                            <i class="iknow-qb_home_icons i-status-being grid mr-10"></i>
                            <span class="ask-title "><%=title %></span>
                        </h1>
                        <div class="line f-aid ask-info">
                            <span>相关商品 > </span>
                            <span class="productName"><%=product_name %></span>
                        </div>
                    </div>
                    <div class="wgt-best mod-shadow  " id="best-answer-2824429761">
                        <div class="hd line ">
                            <span class="grid-r f-aid pos-time answer-time f-pening"><%= bestAnswer ? bestAnswer.nickName : ''%> &nbsp;&nbsp;|&nbsp;&nbsp; 发布于<%= bestAnswer ? bestAnswer.created : ''%></span>
                            <div id="act-link-banner-wp" class="grid-r"></div>
                            <span class="iknow-qb_home_icons answer-type answer-best grid"></span>
                            <span class="answer-title h2 grid">最佳答案</span>
                        </div>
                        <div class="bd answer" id="answer">
                            <div class="line info f-aid">
                            </div>
                            <div class="line content">
                                <div id="best-content" accuse="aContent" class="best-text mb-10" style="min-height: 55px;">
                                    <p>
                                        <%= bestAnswer ? bestAnswer.content : ''%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wgt-answers has-other" id="wgt-answers">
                        <div class="hd line other-hd ">
                            <h2>其他回答</h2>
                        </div>
                        <div class="bd-wrap">
                            <%
                                for(let item of content) {
                            %>
                                <div class="bd answer answer-first answer-last answer-fold">
                                    <div class="line">
                                        <div class="line content">
                                            <div id="answer-content" accuse="aContent" class="answer-text line">
                                                <span class="con">
    												<%= item.content %>
    											</span>
                                            </div>
                                            <div class="line info f-light-gray mt-10 mb-5 f-12">
                                                <div class="grid pt-5">
                                                    <span><%= item.nickName %></span>
                                                    <span class="f-pipe">|</span>
                                                    <span class="pos-time">发布于<%= item.created %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="wgt-push mod-shadow last ">
                        <h2 class="hd line"><i class="iknow-qb_home_icons"></i><%= product_name %>的其他问题：</h2>
                        <ul alog-group="qb-push-que" class="bd list-34 line push-ul">
                            <%
                                for(let question of otherQuestions) {
                            %>
                                <li>
                                    <span class="grid-r f-aid ff-arial"><%=question.replyCount%>回答</span>
                                    <a class="media" title="<%=question.title%>" href="/questions/<%=question.id%>.html" target="_blank"><%=question.subTitle%></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </article>


                <aside class="grid-r qb-side" id="qb-side">
                    <div></div>
                    <div class="mod-noshadow">
                        <div class="cms-inner">
                            <p class="cms-link-title">商品信息</p>
                            <a rel="nofollow" href="https://item.jd.com/<%= product_id %>.html" target="_blank">
                                <img src="<%= img_path %>" style="display: block; margin-left: 30px;">
                            </a>
                            <a class="btn-l-green" href="https://item.jd.com/<%= product_id %>.html" style="margin-top: 10px; margin-bottom: 10px; margin-left: 65px;">前往京东</a>
                        </div>
                    </div>
                    <div class="qbside-top-line"></div>

                    <div class="cms-slide mod-noshadow">
                        <div class="cms-inner">
                            <p class="cms-link-title"></p>
                            <ul class="pb-5 mt-5" id="cms-link">
                                <li><a alog-action="qb-inner-link" href="http://www.360zhijia.com" target="_blank">360之家</a></li>
                            </ul>
                        </div>
                    </div>

                </aside>
            </section>

            <div style="margin: 30px 0;width: 960px;height:90px;">
                广告
            </div>
        </div>
    </div>
    <%-include("../footer", {})%>
</body>
</html>